/* Reset */
html, body, div {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Box-sizing border-box */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
    background-color: #F4F4F4;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
}

ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
}

li {
    font-weight: 400;
    margin-top: 4px;
}

input {
    border: 1px solid #106CC8;
    font-size: 14px;
    height: 40px;
    outline: none;
    padding: 8px;
}

button {
    background-color: #106CC8;
    border-style: none;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    padding: 8px 18px;
    text-decoration: none;
}

button:hover {
    background-color: #28739E;
}

#loader {
    background-color: white;
    width: 300px;
    margin: 5% auto 0 auto;
    text-align: center;
    border: solid 1px #F4F4F4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#loader img{
    margin-top: 40px;
    max-width: 80px;
}

#loader p{
    padding: 5px 15px 20px;
}

#page{
    margin-top: 20px;
}