:host {
    background-color: #2196F3;
    color: rgba(255, 255, 255, 0.87);
    display: block;
    height: 50px;
    padding: 0 25px;
}

logo {
    background: url("./assets/svg/logo.svg");
    background-size: cover;
    float: left;
    height: 35px;
    margin-top: 8px;
    width: 35px;
}
